<form *ngIf="showForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter name..." type="text">
  </mat-form-field>
  <mat-form-field class="space-left">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Enter last name..." type="text">
  </mat-form-field>
  <mat-form-field class="space-left">
    <mat-label>Profession</mat-label>
    <input matInput placeholder="Enter profession..." type="text">
  </mat-form-field>
  <button class="space-left" mat-raised-button>Save</button>
  <button class="space-left" mat-button (click)="showForm = false">cancel</button>
</form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z1 table">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>
  <ng-container matColumnDef="profession">
    <th mat-header-cell *matHeaderCellDef> Profession </th>
    <td mat-cell *matCellDef="let element"> {{element.profession}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-container *cdkPortal>
  <button mat-fab color="accent" (click)="showForm = true">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>